<nav id="navbar">
    <a href="/toughts/dashboard" id="logo">
        <img src="/img/curious_logo.png" alt="Toughts">
    </a>
</nav>
<div class="dashboard">
    <ul>
        <a class="aa" href="/toughts/dashboard">Voltar</a>
        <h3>Seus pensamentos:</h3>
        {{#each toughts}}
        <li>
            <span class="label">{{this.title}}</span>
            <span class="link">
                {{#regexMatch this.link '^(http|https)://'}}
                <a href="{{this.link}}" target="_blank">{{this.link}}</a>
                {{else}}
                <a href="http://{{this.link}}" target="_blank">{{this.link}}</a>
                {{/regexMatch}}
            </span>
            <span class="actions">
                <a href="/toughts/edit/{{this.id}}" class="btnos">Editar</a>
                <form action="/toughts/remove" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="Excluir" class="btnos">
                </form>
            </span>
        </li>
        {{/each}}
    </ul>
    {{#if emptyToughts}}
    <p>Ainda não há nenhum pensamento cadastrado, crie o seu <a href="/toughts/add">clicando aqui</a></p>
    {{/if}}
</div>